.header-color {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
}

.landingpage-grid{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
 text-align: center;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

}

.profilepic{
  height: 250px;
  padding-top: 5em;
}

.banner{
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  opacity: .55;
  width: 75%;
  margin: auto;
  border-radius: 12px;

}

.banner h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  font-family: 'VT323', monospace;
}

.banner hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner p{
  color: white;
  font-size: 10px;
  padding: 1em;
  font-family: 'Press Start 2P', cursive;
}


.social{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social i{
  color: white;
  font-size: 5em;
  padding: 8px;

}

.projects-grid{
  display: flex;
}

.contact-body{
  margin: auto;
  position: fixed;
  width:100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  background-color:#2C5364;
}

.contact-grid{
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 700px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2{
  font-family: 'Anton', cursive;
  color: #203A43;
}

.contact-grid p{
  font-family: 'Oxygen', cursive;
  color: #203A43;
  font-weight: bold;
}

.contact-grid hr{
  border-top: 5px solid #203A43;
  width: 50%;
  margin: auto;
} 

.contact-list i{
  font-size: 66px;
  padding-right: 5rem;
  opacity: 0.7;
}

.resume-page{
  margin:auto;
  padding-top:3em;
  justify-content: center;
}

.resume-page h2{
  font-family: 'VT323', monospace;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin: auto;
}

.resume-break{
  margin: auto;
  padding-top: 3em;
}

.resume-break hr{
  border-top: 5px dotted black;
  width: 65%;
  margin: auto;
}

.resume-break i{
  font-size: 45px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 45%;
  opacity: 0.5;
}

.resume-break a{
  font-family:'Press Start 2P', cursive ;
  opacity: 0.8;
  padding-left: 1em;
  color: #203A43;
}

.resume-image{
  text-align: center;
}

.aboutme-grid{
  margin: auto;
}

.aboutme-grid h3{
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #2C5364;
  font-family: 'Anton', cursive;
}

.aboutme-grid hr{
  border-top: 3px dotted #0F2027;
  width: 50%;
  margin: auto;
  padding-top: 1px;
  padding-bottom: 2px;
}

.alert-system{
  text-align: center;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.aboutme-grid p{
  text-align: center;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  color: #2C5364;
  padding-left: 2em;
  padding-right: 2em;
}

.aboutme-grid h5{
  text-align: center;
  color: black;
  font-family: 'Anton', cursive;
}

.google-form{
  justify-content: center;
  padding-top: 2em;
}

.projects-grid{
  display: flex;
  padding-right: 2em;
  padding-left: 2em;
  justify-content: center;
  
}

.visuals{
  display:flex;
  justify-content: center;
  text-align: center;
  padding-top: 5em;
  padding-bottom: 5em;
}

.blog-page {
  justify-content: center;
}

.blog-page h1{
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
}

.blog-page h3{
  text-align: center;
  font-size: 25px;
  font-family: 'VT323', monospace;
}

.list{
  padding-left: 35%;
}

.blog-posts{
  display: flex;
  padding-top: 3em;
}